.example-spacer {
    flex: 1 1 auto;
}

.content-container {
    display: flex;
    height: calc(100dvh - 64px);
    flex-direction: column;
}

.sidenav {
    width: 300px;
}

.example-icon {
    display: none;
}

.example-m-spacer {
    display: none;
}

@media screen and (max-width: 640px) {
    .example-icon {
        display: block;
    }

    .example-m-spacer {
        display: flex;
        flex: 1 1 auto;
    }

    .link {
        display: none;
    }

}