<div class="page">
    <div class="content">
        <div class="logo">
            <img src="./assets/logo.jpg" alt="logo"/>
        </div>
        <p class="subheading">
            Website Under Construction
        </p>
        <form class="">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" class="email" name="email" placeholder="Your Email">
            </mat-form-field>
            <button mat-stroked-button color="primary"> Get Notified </button>
        </form>
        <p> I promise to <span class="bor2">never</span> spam </p>
        <p><small>Take a peek <a href="#" routerLink="/home">Here</a></small></p>
    </div>
</div>